@import "tailwindcss";

/* Custom scrollbar styling */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Adjust scrollbar width */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light gray track */
  border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #46C35F; /* Your green color */
  border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #3aa850; /* Darker green on hover */
}

